.car-compare-page {
  padding: 20px 80px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #ededf8;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;

    .left-container {
      display: flex;
      flex: 1;
      justify-content: center;
      .weights {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .header {
    margin-bottom: 5px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .car-compare-page {
    padding: 80px 250px;

    .header {
      margin-bottom: 20px;
      margin-left: 40px;
    }
  }
}