.car-compare-page {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
  }
}

@media screen and (min-width: 1600px) {
  .car-compare-page {
    padding: 80px 250px;

    .header {
      margin-bottom: 20px;
      margin-left: 40px;
    }
  }
}