.parameters-page {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
    .manual-parameter-selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        .parameters-weights-container {
            width: 50%;
          }
    }
}